@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

.App{
    font-family: 'Iceland', cursive;
}

#loginBg{
    background-color: #000;
    background-image: url('../public/images/Login.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    height: 100vh;
    width: 100vw;
    display:flex;
    align-items: center;
    justify-content: center;
}
.loginCard{
    border: 1px solid #fff;
    border-radius: 2%;
    background-color: #ffffff20;
    min-width: 30%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link{
    font-family: 'Iceland', cursive;
    text-decoration: none;
    color: #fff
}

.loginBtns{
    min-width: 45%;
    min-height:15%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #00000050;
    border-radius: 2%;
    font-size: 120%;
}

#loginBtn{
    border: 1px solid red;
}

#registerBtn{
    border: 1px solid blue;

}

h1{
    margin:0;
}

.RegisterBg{
    background-color: #000000;
    background-image: url(../public/images/Register.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registerCard{
    border: 1px solid #fff;
    border-radius: 2%;
    background-color: #ffffff20;
    min-width: 30%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.formBtns{
    background-color: transparent;
    border-radius: 2%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#submitFormBtn{
    background-color: transparent;
    border: 1px solid red;
    min-width: 40%;
    min-height: 55%;
    font-size: 150%;
}

#resetFormBtn{
    background-color: transparent;
    border: 1px solid blue;
    min-width: 40%;
    min-height: 55%;
    font-family: 'Iceland', cursive;
    font-size: 190%;
    color: #fff
}

#email{
    min-width: 98%;
}

#favTeam{
    min-width: 99%;
}

.form-control{
    font-size: 1.2em;
}

#predictionsBg{
    background-color: #000;
}

#heroVideo{
    width: 100vw;
    height:100vh;
    object-fit: cover;
}

#predictionsHero{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

#HeroBox{
    border: .5px solid #fff;
    border-radius: 1rem;
    background-color: #000;
    height: 50vh;
    width: 50vw;
    opacity: 75%;
    display:flex;
    flex-wrap: wrap;
    display: inline-block;
    overflow-y: auto;
    position:absolute;
    animation: fade-in 7.5s ease-in;
    }

@keyframes fade-in{
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 75%;
    }
}

#heroTitle{
    color: #ffffff;
    stroke-width: 1.5;
    stroke-color: crimson;
    font-size: 4.25rem;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 5%;
    padding-right: 1vw;
    padding-left: 1vw;
    opacity: 75%;
    animation: fade-in 7.5s ease-in;
}

#heroText{
    color: #fff;
    font-size: 2rem;
    text-align: center;
    max-height: 35vh;
    overflow-y: auto;
    padding-left: 4vw;
    padding-right: 4vw;
    opacity: 75%;
    animation: fade-in 9.5s ease-in;

}

#scrollReminder{
    color: #fff;
    text-align: end;
    padding-right: 2vw;
    opacity: 75%;
    animation: fade-in 11.5s ease-in;

}

.cardWrapper{
    min-width: 100%;
    min-height: 85vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 15vh;
    margin-bottom:2vh;
}

#predictionsSubmitBtn{
    background-color: greenyellow;
    opacity: 20%;
    min-width: 25vw;
    margin-right: 2vw;
    margin-left: 2vw;
}

#predictionsSubmitLink{
    color: black;
    font-size:2.5rem;
}

#predictionTallyText{
    color: white;
}

.predictionTally{
    font-size: 4rem;
    border: 1px solid #ffffff;
    border-radius: 1rem;
    margin-left: 2rem;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 5vh;
    display: flex;
    display: block;
    justify-content: center;
    text-align: center;
}
#completedTally{
    color: red;
}
#totalTally{
    color: white;
}

.categoryCard{
    min-width: 35%;
    border: 1px solid #ffffff;
    border-radius: 1rem;
    margin-left: 2vw;
    margin-right: 2vw;
}

#regularSeasonCard{
    background-image: url('../public/images/RegularSeason.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -12.5rem;
}

#postseasonCard{
    background-image: url('../public/images/Postseason.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -32.5rem;
}

#versusCard{
    background-image: url('../public/images/versus.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -20rem;
}

#overunderCard{
    background-image: url('../public/images/Over:Under.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#awardsCard{
    background-image: url('../public/images/Awards.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: -2.5rem;
}

.cardLink{
    font-size: 7em;
    text-decoration: none;
    color: black;
    font-family: 'Iceland', cursive;
    stroke-width: 1px;
    stroke-color: #fff;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.Footer{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
}



